@font-face {
    font-family: LemonMilk;
    src: url(../fonts/LemonMilk.otf);
}


.hero{
    text-align: center;
    height: 450px;
}

.hero header{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero header h1{
    font-size: 4em;
    font-family: LemonMilk;
}

.hero header p{
    font-size: 1.5em;
}