@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i|Oxygen');

.vertical-table-center-wrapper{
    display: table-cell;
    vertical-align: middle;
}

li{
    margin: 1em 0;
}

li p{
    margin: 0;
}

a:link{
    color: #74fffa;
}

a:visited{
    color: #74fffa;
}

a:active{
    color: #489f9c;
}

.yellow-text{
    color: #f5d85b;
}