@font-face {
    font-family: LemonMilk;
    src: url("../assets/fonts/LemonMilk.otf");
}

.hero{
    background-image: url("../assets/img/hero-background.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 750px;
    width: 100%;
    display: table;
}

.hero-wrapper{
    display: table-cell;
    vertical-align: middle;
    overflow: hidden; /*Prevent h1 padding from extending past top of div*/
}

.hero header{
    margin-bottom: 84px;
}

.hero header h1{
    font-size: 5em;
    font-family: LemonMilk;
    color: white;
    text-shadow: 0.0575em 0.0575em 0.025em rgba(0, 0, 0, 0.6);
}

.hero header p{
    font-size: 1.5em;
    font-family: LemonMilk;
    color: white;
    text-shadow: 0.0575em 0.0575em 0.025em rgba(0, 0, 0, 0.6);
}

.note__image{
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
